<% provide(:title, 'General page') %>
<h3><%= t '.hello'%></h3>

<div class="col-md-4" >
    <%= render 'users/user_info' if logged_in? %>
</div>

<div class="col-md-8" >
    <table>
        <tbody>
            <%= render @posts %>
        </tbody>
    </table>
</div>


<br>
<% if logged_in? %>
    <%= link_to 'New Post', new_post_path, id: 'new_post_link', remote: true %>
<% end %>